In [ ]:
#dictionary is a data type that has keyvalue pairs separated by a comma,

In [1]:
{"Name": "Risav","Gender":"Male"}

{'Name': 'Risav', 'Gender': 'Male'}

Rules
1. Dictionary has no indexing
2. Dictionary is a mutable data type
3. Keys should always be immutable and values can be mutable
4. Keys should be unique


mutable data types are list, sets, dictionary
immutable data types are strings, tuples, int, float, boolean, complex

In [2]:
#create
d ={}
d

{}

In [3]:
d ={"Name": "Risav","Gender":"Male"}
d

{'Name': 'Risav', 'Gender': 'Male'}

In [4]:
type(d)

dict

In [5]:
e={[1,2,3]:"risav"}
e

TypeError: unhashable type: 'list'

In [6]:
e={(1,2,3):"risav"}
e

{(1, 2, 3): 'risav'}

In [8]:
f={"name":"risav","name":"samrat"}
f

{'name': 'samrat'}

In [ ]:
#creating 2d dictionary

In [9]:
d={"name":"risav","college":"ASCOL","Marks":{"maths":44,"DSA":55}}
d

{'name': 'risav', 'college': 'ASCOL', 'Marks': {'maths': 44, 'DSA': 55}}

In [ ]:
#Acessing items from a dictionary (by providing the current key)

In [10]:
d['name']

'risav'

In [11]:
d["college"]

'ASCOL'

In [13]:
d['Marks']

{'maths': 44, 'DSA': 55}

In [14]:
d["Marks"]["DSA"]

55

In [ ]:
#edit

In [15]:
d['name']='samrat'
d

{'name': 'samrat', 'college': 'ASCOL', 'Marks': {'maths': 44, 'DSA': 55}}

In [17]:
d['Marks']['DSA']=55
d

{'name': 'samrat', 'college': 'ASCOL', 'Marks': {'maths': 44, 'DSA': 55}}

In [19]:
d.get('name')

'samrat'

In [ ]:
#adding new key value pairs

In [20]:
d

{'name': 'samrat', 'college': 'ASCOL', 'Marks': {'maths': 44, 'DSA': 55}}

In [21]:
d['age']=22
d

{'name': 'samrat',
 'college': 'ASCOL',
 'Marks': {'maths': 44, 'DSA': 55},
 'age': 22}

In [23]:
d['Marks']['NM']=66
d

{'name': 'samrat',
 'college': 'ASCOL',
 'Marks': {'maths': 44, 'DSA': 55, 'NM': 66},
 'age': 22}

In [24]:
#deleting individual keyvalue pairs
del d["age"]
d

{'name': 'samrat',
 'college': 'ASCOL',
 'Marks': {'maths': 44, 'DSA': 55, 'NM': 66}}

In [25]:
d.clear()
d

{}

In [26]:
d={'name': 'samrat', 'college': 'ASCOL', 'Marks': {'maths': 44, 'DSA': 55}}
d

{'name': 'samrat', 'college': 'ASCOL', 'Marks': {'maths': 44, 'DSA': 55}}

In [27]:
for i in d:  #we only get keys in loop in dictionary
    print(i)

name
college
Marks

In [28]:
#but
for i in d:
    print(i,d[i])

name samrat
college ASCOL
Marks {'maths': 44, 'DSA': 55}